
{% extends 'main.html' %}
{% block content %}


<hr>
<div class="container-fluid col-12">
    <div class="row home-oznam">
        <div class="container col-8">
            <h1>Kontakt na vývojára:</h1>
        </div>
        <div class="container col-4">

        </div>
    </div>
    <div class="container-fluid col-12">
        <ul>
            <li><div><h6>Email (osobný): <a href="mailto:terek.ml@gmail.com">terek.ml@gmail.com</a></h6>  </div></li>
            <li><div><h6>Email (študentský): <a href="terek1@stud.uniza.sk">terek1@stud.uniza.sk</a></h6></div></li>
            <li><div><h6> Repozitár projektu: <a href="https://github.com/Niktodt1/VAI-Trasovanie-zasielok-DJANGO">https://github.com/Niktodt1/VAI-Trasovanie-zasielok-DJANGO</a></h6></div></li>
        </ul>

    </div>
    <hr>
    <p><b>Projekt vznikol ako semestrálna práca na predmet VAII - Vývoj aplikácií pre Internet a Intranet</b></p>
</div>

{% endblock content %}