
{% extends 'main.html'%}

{% block content %}

{% if page == 'login' %}
<div>
  <form method="POST" action="">
    {%csrf_token %}

    <div class="container text-center">
      <div class="m-3">
        <label>Login:</label>
        <input type="text" name="username" placeholder="Zadaj svoj login (username)"/>
      </div>

      <div class="m-3">
        <label>Heslo:</label>
        <input type="password" name="password" placeholder="Zadaj svoje heslo (password)"/>
      </div>

      <input type="submit" class="btn btn-success" value="Prihlásenie"/>

      <p class="mt-3 mb-0">Ešte nie ste registrovaní?</p>

      <a type="button" class="register-button btn btn-primary btn-sm punchPinkDark me-2" href="{% url 'register' %}">Registrácia</a>
    </div>
    </div>
  </form>




</div>

{% else %}
<div>
  <form method="POST" action="">
    {%csrf_token %}

    <div class="container-fluid m-2">
      {{form.as_p}}
      <hr>
      {{account_form.as_p}}
      <hr>
      {{address_form.as_p}}
    </div>

    <div class="container-fluid text-center">
       <input type="submit" class="btn btn-success" value="Odoslať"/>
    </div>
  </form>

  <hr>
  <div class="container-fluid">
    <p class="mb-0">Už ste registrovaní?</p>
    <a type="button" class="login-button btn btn-primary me-2" href="{% url 'login' %}">Prihlásenie</a>
  </div>


</div>
{% endif %}

{% endblock content %}