<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trasovanie zásielok </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/91bb1fdf20.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styl.css' %}">
<!--    <script type="module" src="{% static 'js/home_script.js' %}"></script>-->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>
<body>

    <div class="hlavicka fixed-top">
        <nav class="navbar navbar-expand-md navbar-dark punchPinkDark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/favicon.ico' %}">Trasovanie zásielok</a>
                <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="skryte collapse navbar-collapse efekt-hover" id="collapsibleNavbar">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link link-light p-2" href="{% url 'home' %}">Domov</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light p-2" href="{% url 'newPackage' %}">Nová zásielka</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light p-2" href="{% url 'history' %}">História zásielok</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light p-2" href="{% url 'deliveryCompanies' %}">Prepravcovia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light p-2" href="{% url 'contact' %}">Kontakt</a>
                        </li>
                    </ul>


                </div>

                {% if request.user.is_authenticated %}
                <p class="whiteText me-3 mt-2">Prihlásený je používateľ: {{request.user}}</p>
                <a type="button" class="logout-button btn btn-primary punchPink me-2" href="{% url 'logout' %}">Odhlásenie</a>
<!--                <a href="{% url 'updateUser' %}">Edit</a>-->
                {% else %}
                <a type="button" class="login-button btn btn-primary me-2" href="{% url 'login' %}">Prihlásenie</a>
                <a type="button" class="register-button btn btn-primary punchPinkDark me-2" href="{% url 'register' %}">Registrácia</a>
                {% endif %}
            </div>
        </nav>


    </div>
    <main class="main">
        <div class="navigacia efekt-hover punchPinkDark" id="sidebar">
            <ul class="navbar-nav nav-pills flex-column p-2 sticky-top">
                <li class="nav-item">
                    <a class="nav-link link-light p-2" href="{% url 'home' %}">Domov</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light p-2" href="{% url 'newPackage' %}">Nová zásielka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light p-2" href="{% url 'history' %}">História zásielok</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light p-2" href="{% url 'deliveryCompanies' %}">Prepravcovia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light p-2" href="{% url 'contact' %}">Kontakt</a>
                </li>
            </ul>
        </div>

        <div class="web-content obsah">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}

            {% endblock %}
        </div>
    </main>

<!--    <footer class="footer mt-auto py-3 punchPinkDark">-->
<!--        <div class="container pata whiteText">-->
<!--            @Dušan Terek 2023-->
<!--        </div>-->
<!--    </footer>-->
</body>

</html>